@model int

@{ 
    ViewBag.Title = "404 Error";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>Error 404</h4>
</div> 
<a asp-action="Index" asp-controller="Home" class="btn btn-outline-success">Click here to get back to list</a>
